#stage1web{
    position: relative;
    width: 1440px;
    height: 1158px;
  
    background: #FFFFFF;
}
.stage1task{
  display: flex;
    flex-direction: column;
    align-items: center;
    padding: 64px 112px;
    gap: 24px;
  
    position: absolute;
    /* width: 1440px; */
    height: 998px;
    left: 0px;
    top: 0px;
}
.main-section {
/* Auto layout */

  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 32px;
  gap: 32px;

  width: 1216px;
  height: 774px;


  /* Inside auto layout */

  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}
.content{
  display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 56px;
  
    width: 1152px;
    height: 774px;
  
  
    /* Inside auto layout */
  
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}
.profile-section{
display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  gap: 24px;
  isolation: isolate;

  width: 1152px;
  height: 242px;


  /* Inside auto layout */

  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}

.profile-img{
  display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
  
    width: 200px;
    height: 200px;
  
    background: url(../src/static/profile-img.jpg);
    border-radius: 275px;
  
    /* Inside auto layout */
  
    flex: none;
    order: 0;
    flex-grow: 0;
    z-index: 0;
}
.twitter-frame{
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      padding: 0px;
      gap: 3px;
    
      width: 1152px;
      height: 30px;
    
    
      /* Inside auto layout */
    
      flex: none;
      order: 1;
      align-self: stretch;
      flex-grow: 0;
      z-index: 1;
}
#twitter{
  width: 343px;
    height: 28px;
  
    /* Text lg/Bold */
  
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 28px;
    /* identical to box height, or 156% */
  
    text-align: center;
  
    /* Gray/900 */
  
    color: #101828;
  
  
    /* Inside auto layout */
  
    flex: none;
    order: 0;
    flex-grow: 1;
}
#slack{
    display: none;
}


/* Links */
.link-section {
  display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 24px;
  
    width: 1152px;
    height: 576px;
  
  
    /* Inside auto layout */
  
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}
.Links{
  display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 12px;
  
    width: 1152px;
    height: 76px;
  
    /* Shadow/xs */
  
    filter: drop-shadow(0px 1px 2px rgba(16, 24, 40, 0.05));
  
    /* Inside auto layout */
  
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}
.frame5{
  box-sizing: border-box;
  
    /* Auto layout */
  
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 24px 32px;
    gap: 8px;
  
    width: 1152px;
    height: 76px;
  
    /* Gray/200 */
  
    background: #EAECF0;
    /* Gray/200 */
  
    border: 1px solid #EAECF0;
    border-radius: 8px;
  
    /* Inside auto layout */
  
    flex: none;
    order: 0;
    flex-grow: 1;
}
.links-text{
  width: 101px;
  height: 28px;

  /* Text lg/Medium */

  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  /* identical to box height, or 156% */

  display: flex;
  align-items: center;
  text-align: center;

  /* Gray/900 */

  color: #101828;


  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}

#btn_zuri, #twitter-link{
  display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 12px;
  
    width: 1152px;
    height: 76px;
  
    /* Shadow/xs */
  
    filter: drop-shadow(0px 1px 2px rgba(16, 24, 40, 0.05));
  
    /* Inside auto layout */
  
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}
.text_zuri{
  width: 86px;
    height: 28px;
  
    /* Text lg/Medium */
  
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    /* identical to box height, or 156% */
  
    display: flex;
    align-items: center;
    text-align: center;
  
    /* Gray/900 */
  
    color: #101828;
  
  
    /* Inside auto layout */
  
    flex: none;
    order: 0;
    flex-grow: 0;
}
#books{
  display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 12px;
  
    width: 1152px;
    height: 76px;
  
    /* Shadow/xs */
  
    filter: drop-shadow(0px 1px 2px rgba(16, 24, 40, 0.05));
  
    /* Inside auto layout */
  
    flex: none;
    order: 2;
    align-self: stretch;
    flex-grow: 0;
}
.text_books{
  width: 92px;
    height: 28px;
  
    /* Text lg/Medium */
  
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    /* identical to box height, or 156% */
  
    display: flex;
    align-items: center;
    text-align: center;
  
    /* Gray/900 */
  
    color: #101828;
  
  
    /* Inside auto layout */
  
    flex: none;
    order: 0;
    flex-grow: 0;
}
a{
  text-decoration: none;
  color: inherit;
}
#book__python, #pitch, #book_design{
  display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 12px;
  
    width: 1152px;
    height: 76px;
  
    /* Shadow/xs */
  
    filter: drop-shadow(0px 1px 2px rgba(16, 24, 40, 0.05));
  
    /* Inside auto layout */
  
    flex: none;
    order: 3;
    align-self: stretch;
    flex-grow: 0;
}
.text_python{
   width: 92px;
    height: 28px;
  
    /* Text lg/Medium */
  
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    /* identical to box height, or 156% */
  
    display: flex;
    align-items: center;
    text-align: center;
  
    /* Gray/900 */
  
    color: #101828;
  
  
    /* Inside auto layout */
  
    flex: none;
    order: 0;
    flex-grow: 0;
}
.text_backgroundcheck{
  width: 259px;
    height: 28px;
  
    /* Text lg/Medium */
  
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    /* identical to box height, or 156% */
  
    display: flex;
    align-items: center;
    text-align: center;
  
    /* Gray/900 */
  
    color: #101828;
  
  
    /* Inside auto layout */
  
    flex: none;
    order: 0;
    flex-grow: 0;
}
.text_design{
  width: 118px;
    height: 28px;
  
    /* Text lg/Medium */
  
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    /* identical to box height, or 156% */
  
    display: flex;
    align-items: center;
    text-align: center;
  
    /* Gray/900 */
  
    color: #101828;
  
  
    /* Inside auto layout */
  
    flex: none;
    order: 0;
    flex-grow: 0;
}

/* social section */
.social-section{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 24px 0px;
  gap: 64px;

  width: 1216px;
  height: 72px;

  /* Base/White */

  background: #FFFFFF;

  /* Inside auto layout */

  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
}
.container{
  display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 32px;
    gap: 32px;
  
    width: 1216px;
    height: 24px;
  
  
    /* Inside auto layout */
  
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}
.social-content{
display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;

  width: 1152px;
  height: 24px;


  /* Inside auto layout */

  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}
.social-icons{
display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 24px;

  width: 1152px;
  height: 24px;


  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 1;
}
.slack-icon{
width: 24px;
  height: 24px;


  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}
.slack-inner-icon{
    position: absolute;
    left: 9.38%;
    right: 9.38%;
    top: 9.38%;
    bottom: 9.38%;
}
.twitter-icon{
    width: 24px;
    height: 24px;
  
    /* Inside auto layout */
  
    flex: none;
    order: 1;
    flex-grow: 0;
}
.twitter-inner-icon{
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 2.31%;
  
    background: #000000;
}
.vector-icon{
  position: absolute;
    left: 9.38%;
    right: 53.12%;
    top: 46.88%;
    bottom: 15.63%;
  
    /* background: #36C5F0;
    transform: rotate(-90deg); */
}
/* Footer */
.Footer{
  display: flex;
    flex-direction: column;
    align-items: center;
    padding: 48px 0px;
    gap: 64px;
  
    position: absolute;
    width: 1440px;
    height: 160px;
    left: 0px;
    top: 998px;
  
    /* Base/White */
  
    background: #FFFFFF;
}
.footer-container{
  display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px 32px;
    gap: 32px;
  
    width: 1280px;
    height: 64px;
  
  
    /* Inside auto layout */
  
    flex: none;
    order: 0;
    flex-grow: 0;
}
.footer-content{
  box-sizing: border-box;
  
    /* Auto layout */
  
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 32px 0px 0px;
    gap: 32px;
  
    width: 1216px;
    height: 64px;
  
    /* Gray/200 */
  
    border-top: 1px solid #EAECF0;
  
    /* Inside auto layout */
  
    flex: none;
    order: 0;
    flex-grow: 0;
}
.zuri-internship-logo{
  width: 187.59px;
    height: 32px;
    /* Inside auto layout */
  
    flex: none;
    order: 0;
    flex-grow: 0;
}
.footer-text{
  width: 832.28px;
    height: 24px;
  
    /* Text md/Normal */
  
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */
  
    text-align: center;
  
    /* Gray/500 */
  
    color: #667085;
  
  
    /* Inside auto layout */
  
    flex: none;
    order: 1;
    flex-grow: 1;
}
.i4g-image{
    width: 132.13px;
    height: 32px;
  
    /* background: url(./static/i4g.png); */
  
    /* Inside auto layout */
  
    flex: none;
    order: 2;
    flex-grow: 0;
}